{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
<div class="max-w-xl mx-auto card-pop border-2 border-black bg-white anim-fade-up">
    <div class="bg-fuchsia-500 text-white font-black px-4 py-3 flex items-center gap-2">
        <i class="fa-solid fa-pen-to-square"></i> {{ titulo|upper }}
    </div>
    <form method="post" enctype="multipart/form-data" class="p-4">
        {% csrf_token %}
        {% include "partials/_form_generico.html" %}
        <div class="flex gap-2 justify-end mt-4">
            <a href="{{ voltar_url }}" class="btn-pop inline-flex items-center gap-2 px-4 py-2 border-2 border-black font-bold bg-white">
                <i class="fa-solid fa-xmark"></i> CANCELAR
            </a>
            <button type="submit" class="btn-pop inline-flex items-center gap-2 px-4 py-2 border-2 border-black font-bold bg-emerald-400">
                <i class="fa-solid fa-floppy-disk"></i> SALVAR
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ form.media }}
{% endblock %}
